@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:  hsl(30, 38%, 92%);
}

.container
{
    width: 650px;
    background-color: white; 
    border-radius: 10px;
    display: flex;
    margin: 8% auto;
}

.container .left
{
    background: url(images/image-product-desktop.jpg) no-repeat center;
    background-size: cover;
    width: 50%;
    height: 31rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .right   
{
    width: 50%;
    padding-top:0.6rem;
}

.right h4
{
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 2rem 0 1.2rem 2rem;
    color: hsl(228,12%,48%);
}

.right h2
{
    font-family: Fraunces;
    margin: 0rem 0 1.2rem 2rem;
    font-size: 2rem;
    width: 80%;
}

.right .para
{
   margin: 0 0 1.2rem 2rem ;
   width: 80%;
   font-family: Montserrat;
   color: hsl(228,12%,48%);
   line-height: 1.6rem;
   font-size: 0.9rem;
   font-weight: 600;
}

.price-container
{
    display: flex;
    margin: 2rem 0 0 2rem ;
}

.price-container> p:first-child
{
    color: hsl(158, 36%, 37%);
    transform: scale(2.2);
    font-family: Fraunces;
    margin-left: 2.3rem;
}

.price-container> p:nth-of-type(2)
{
    
    color: hsl(228,12%,48%);
    font-family: Fraunces;
    margin-left: 4.5rem;
    text-decoration: line-through;
}

button
{
    margin: 3rem 2rem 0;
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    font-family: Montserrat;
    width: 80%;
    
}

button span
{
    position: relative;
    bottom: 2px;
    font-size: 1rem;
    margin-left: 5px;
}

button:hover
{
    background-color: rgb(6, 100, 66);
}

button:active
{
    background-color: rgb(4, 51, 34);

}
.attribution
{
    position: absolute;
    top: 90%;
    left: 38%;
    font-size: 14px;
    font-family: Montserrat;
    visibility: hidden;

}

.attribution a
{
   color: rgb(255, 0, 191);

}

.attribution> a:nth-of-type(2)
{
   color: rgb(255, 0, 191);

}



@media screen and (min-width: 365px) and (max-width: 750px)
{
   .container
   {
      display: flex;
      flex-direction: column;
      width: 400px;
   }

   .container .left
   {
    width: 100%;
    height: 22rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
   }
   .container .right   
   {
    width: 100%;
    padding-top:0.4rem;
   }

   .right h4
   {
    margin: 1.5rem 0 1.2rem 2rem;
   }

   .right h2
   {
    font-family: Fraunces;
    margin: 0rem 0 1rem 2rem;
    font-size: 2rem;
    width:70%;
   }

   .right .para
  {
   margin: 0 0 1.2rem 2.2rem ;
   width: 72%;
  }
  .price-container
  {
    display: flex;
    margin: 3rem 0 0 2rem ;
  }

  button
  {
    margin: 2.2rem 2rem 1.5rem;
  }
}

@media screen and (min-width:1250px)
{
    .attribution
    {
        visibility: visible;
    }
}